[alias]
    st = status -s -b
    ci = commit
    br = branch
    amend = commit --amend
    co = checkout
    lol = log --graph --date=short --pretty=format:'%Cblue%h%Creset %Cred%ad%Creset %s%C(bold green)%d%Creset' --all
[include]
    path = ~/.gitconfig-local
[core]
	editor = vim
[init]
	defaultBranch = main
[push]
	default = simple
