# local alacritty configuration for specific overrides
alacritty/.config/alacritty/local-alacritty.*

# tmux - ignore plugins AFTER having installed tmp
# so that we ignore all future plugins installations
tmux/.tmux/plugins/*

# tmux - local machine-only overrides, not shared across machines
tmux/.tmux.conf.local

# ansible inventory with actual hostnames
ansible/inventory
